@import url("https://fonts.googleapis.com/css?family=DM+Sans:wght@0,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}
body {
    margin: 0;
    padding: 0;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
  
}
h1 {
  margin: 0.2rem;
  font-size: 2em;
  text-align: center;
  color: black;
}

.container {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.image-container {
    width: 80%;
    max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 1.7rem;
}
button {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  border:none;
  width:200px
}
button:hover{
    cursor: pointer;
    opacity:0.8;
}
